.cards__description {
    display: flex;
    padding: 25px 15px 31px 21px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
}